header {
    background-color:white;
    /* box shadow offset x, offset y, blur, spread, colour*/
    box-shadow: 0 3px 10px 1px rgb(0 0 0 / 0.2);
    padding: 1rem 0rem;
  }
  
header form {

    flex-direction:row;
    border:1px solid grey;
}

input.searchBar { /* form input */
    /* And hide the input's outline, so the form looks like the outline */
    border:0;
    max-width: 700px;
    align-self: center;
    background-color: #f3f3f3;

}
  
input.searchBar:focus {
    outline:none;
}
  
button.clearSearch{ /* clear search button */
    border:1px solid #FF5700;
    background:#FF5700;
    color:ghostwhite;
    font-weight:bold;
}
  
  